.botao{
  text-align: center;
}
body{
  background: #4085ff;
}
.btn{
  background-color: #5492ff;
  height: 93px;
  width: 93px;
  font-size: 40px;
  color: blue;
  margin-top: 10px;
}
.operacao{
  color: #ff6200;
}
.apagar{
  color: #ed4800;
}

.zero{
  width: 189px;
}
.btn:hover{
  background-color: #004bc4;
  color: blue;
  font-size: 35px;
}
.operacao:hover{
  color: #ff6200;
}
.apagar:hover{
  color: #ed4800;
}
.ponto{
  font-size: 45px;
}
.ponto:hover{
  font-size: 40px;
}
.display{
  color: #000045;
  height: 120px;
  margin-top: 15px;
  font-size: 55px;
  background-color: #abc9ff;
  border-color:#ff4d00; 
  border-width: 5px;
}
.display:read-only{
  color: #000045;
  background-color: #abc9ff;
}